<div class="login-wrapper">
  <ul class="login-nav">
    <li>
      <a href="" ng-click="focus()" for="testlog">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
      </a>
    </li>
  </ul>

  <form class="">
    <div class="form-group">
      <input type="text" name="username" id="testlog" value="" placeholder="Nombre de usuario"
      ng-model="user.username" required class="form-control">
    </div>
    <div class="form-group">
      <input type="password" name="password" value="" placeholder="Contraseña"
      ng-model="user.password" required class="form-control">
    </div>
    <input type="submit" value="Iniciar sesión" class="btn btn-md btn-block">
  </form>
</div>
