<div class="login-wrapper">
  <i class="fa fa-sign-in" aria-hidden="true"></i>
  <form class="" >
    <div class="form-group">
      <label for="username" class="sr-only">label</label>
      <input type="text" name="username" value="" placeholder="Nombre de usuario"
        class="form-control">
        <input type="text" name="password" value="" placeholder="Contraseña"
        class="form-control">
    </div>
    <input type="submit" value="Iniciar sesión"
      class="btn btn-md btn-block">
  </form>
</div>
