<div class="page-sidebar">
  <div class="title-header">
    <ul>
      <li class="logo">
        <a ui-sref="home">La Fournee</a>
      </li>
      <li class="hamburger">
        <a href="" ng-click="toggleSidebar()">
          <i class="fa fa-bars"></i>
        </a>
      </li>
    </ul>
  </div>

  <div ng-transclude>
    <!-- Content for login  -->
  </div>

  <div class="navigation">
    <ul>
      <!-- Menu de acceso global -->
      <div>
        <li>
          <a ui-sref="home">
            <i class="fa fa-home col-sm-2"></i>
            <span class="item-text col-sm-10">Inicio</span>
          </a>
        </li>
      </div>

      <!-- Menu de employee -->
      <div ng-if="isEmployee()">
        <li class="item">
          <a ui-sref="employeeProfile">
            <i class="fa fa-id-card col-sm-2"></i>
            <span class="item-text col-sm-10">Perfil</span>
          </a>
        </li>
        <li class="item">
          <a ui-sref="orders.orderList">
            <i class="fa fa-list-ol col-sm-2"></i>
            <span class="item-text col-sm-10">Pedidos</span>
          </a>
        </li>
      </div>

      <!-- Menu de admin -->
      <div ng-if="isAdmin()">

        <li>
          <a ui-sref="announcement.list">
            <i class="fa fa-newspaper-o col-sm-2"></i>
            <span class="item-text col-sm-10">Anuncios</span>
          </a>
        </li>
        <li>
          <a ui-sref="product.list">
            <i class="fa fa-coffee col-sm-2"></i>
            <span class="item-text col-sm-10">Productos</span>
          </a>
        </li>
        <li>
          <a ui-sref="client.list">
            <i class="fa fa-user col-sm-2"></i>
            <span class="item-text col-sm-10">Clientes</span>
          </a>
        </li>
        <li>
          <a ui-sref="employee.list">
            <i class="fa fa-black-tie col-sm-2"></i>
            <span class="item-text col-sm-10">Empleados</span>
          </a>
        </li>
        <li>
          <a ui-sref="report">
            <i class="fa fa-area-chart col-sm-2"></i>
            <span class="item-text col-sm-10">Reportes</span>
          </a>
        </li>
        <li>
          <a ui-sref="production.config">
            <i class="fa fa-spinner col-sm-2"></i>
            <span class="item-text col-sm-10">Producción</span>
          </a>
        </li>
      </div>

      <!-- Menu de clientes -->
      <div ng-if="isClient()">
        <li class="item">
          <a ui-sref="clientProfile">
            <i class="fa fa-id-card col-sm-2"></i>
            <span class="item-text col-sm-10">Perfil</span>
          </a>
        </li>
        <li class="item">
          <a ui-sref="order.create.shoppingCart">
            <i class="fa fa-shopping-cart col-sm-2"></i>
            <span class="item-text col-sm-10">Pedidos</span>
          </a>
        </li>
      </div>
    </ul>

  </div>
</div>
