<div class="main-wrapper" ng-app="fournee">
  <sidebar class="sidebar" toggle="toggle" ng-class="{toggle: toggle}" >
    <login-form toggle="toggle"></login-form>
  </sidebar>
  <div class="main" ng-class="{toggle: toggle}" ui-view ></div>
</div>
