<div  style="margin: 0 auto; background-color: #201300; width: 400px; box-shadow: 10px 10px 10px #888;
    -webkit-box-shadow: 10px 10px 10px #888; -moz-box-shadow: 10px 10px 10px #888 ;border-radius:10px; padding: 10px 10px">
  <div>
  <h2 style="background-color: #201300; width: 100%; color: #FFF">Recuperar contraseña</h2>
</div>
  <div style="background-color: #FFF; padding: 5px; border-radius: 10px">
    <p><strong>Estimado/a usuario <%=tradeName%>,</strong></p>
    <br/>
    <p>Se ha hecho una solicitud para recuperar la contraseña de su cuenta en LA FOURNEE.</p>
    <p>Utilize el siguiente código para confirmar la recuperación de su contraseña</p>
    <p><strong>Su codigo es:</strong> <%=code%> </p>
    <p>Favor no responder a este correo y recuerde cambiar su contraseña despues de iniciar sesión</p>
    <br/>
    <p>Gracias.</p>
    Atte: El equipo de LA FOURNEE.
    </div>
</div>
