
<div print-remove class="basic-wrapper lg client-list-wrapper">
  <div class="section-header date-order">
    <h1 ng-click="open1()">
      <i class="glyphicon glyphicon-calendar"></i> Lista de pedidos: {{dt | date:'mediumDate' | capitalize}}
    </h1>

    <!-- ORDERS PER DATE -->
    <div class="section-deliveryDate">
      <p class="input-group col-sm-3">
        <input type="text" id="date" ng-change="getOrdersByDeliveryDate()" class="form-control" uib-datepicker-popup="{{format}}"
        ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Cerrar" clear-text="Borrar" current-text="Hoy"
        alt-input-formats="altInputFormats" ng-click="open1()" readonly/>
      </p>
    </div>
  </div>

  <!-- ORDERS CHANGE ATTR -->
  <div class="" style="padding: 5px">
    <div class="toolbar-listOrder form-inline">

      <!-- FILTERS -->
      <div class="col-sm-1" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
        <button id="btn-append-to-body" type="button" class="btn btn-sm btn-sienna" uib-dropdown-toggle>
          Filtros <span class="caret"></span>
        </button>

        <ul class="dropdown-menu order-filter" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
          <li role="menuitem" ng-repeat="checkValue in checkList">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="checkValue.checked"/> {{checkValue.text}}
              </label>
            </div>
          </li>
        </ul>
      </div>

      <!-- STATE CHANGE -->
      <div class="form-group col-sm-6 col-sm-offset">
        <label for="states">Estados: </label>
        <div class="input-group">
          <select class="form-control input-sm" id="states" ng-model="placement.selected"
          ng-options="option for option in placement.options"></select>
          <span class="input-group-btn">
            <button type="button" ng-click="changeState()" class="btn btn-sm btn-sienna">Cambiar estado</button>
          </span>
        </div>
      </div>

      <!-- DATE CHANGE -->
      <div class="form-group col-sm-5">
        <label for="inputDate">Fecha:</label>
        <div class="input-group">
          <input type="text" id="inputDate" class="form-control input-sm"
          uib-datepicker-popup="{{format}}" ng-model="dt2" is-open="popup2.opened"
          datepicker-options="optionsDeliveryDate" ng-required="true" close-text="Close"
          alt-input-formats="altInputFormats" ng-click="open2()" readonly style="cursor:pointer"/>
          <span class="input-group-btn">
            <button type="button" ng-click="showConfirmation()" class="btn btn-sm btn-sienna">Cambiar fecha</button>
          </span>
        </div>
      </div>
    </div>

    <!-- ORDER LIST -->
    <div class="table-container">
      <div class="table-responsive">
        <table class="table table-hover table-bordered table-condensed">
          <thead>
            <tr>
              <th style="width: 70px" ng-click="checkAllOrders()">
                <input type="checkbox" ng-click="checkAllOrders()" ng-model="all" style="cursor:pointer"> Todo
              </th>
              <th ng-click="sortBy('id')">Código</th>
              <th ng-click="sortBy('created_at')" style="width: 100px">Creación</th>
              <th ng-click="sortBy('trade_name')">Cliente</th>
              <th ng-click="sortBy('employeeName')">Empleado</th>
              <th ng-click="sortBy('business_phonenumber')">Telefono empresa</th>
              <th ng-click="sortBy('initial_suggested_time')">Hora deseada</th>
              <th ng-click="sortBy('state')" style="width: 100px">Estado</th>
              <th ng-if="isAdmin()" style="width: 60px">Fact.</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ord in orders | orderState:checkList | orderBy: sortByProperty:sortReversed" class="orderList">
              <td align="center" style="vertical-align:middle">
                <input type="checkbox" ng-click="checkSelectAll(ord.id)" ng-model="checkboxObj[ord.id]">
              </td>
              <td ng-click="showDetails(ord)" align="center" style="vertical-align:middle">{{ord.id}}</td>
              <td ng-click="showDetails(ord)" align="center" style="vertical-align:middle">{{ord.created_at | date:'medium':'+0000'}}</td>
              <td ng-click="showDetails(ord)" align="center" style="vertical-align:middle">{{ord.trade_name}}</td>
              <td ng-click="showDetails(ord)" align="center" style="vertical-align:middle">{{ord.employeeName}}</td>
              <td ng-click="showDetails(ord)" align="center" style="vertical-align:middle">{{ord.business_phonenumber}}</td>
              <td ng-click="showDetails(ord)" align="center" style="vertical-align:middle">{{ord.initial_suggested_time + '-' + ord.final_suggested_time}}</td>
              <td ng-click="showDetails(ord)" align="center" style="vertical-align:middle; background-color: #201300; color: white;">{{ord.state}}</td>
              <td ng-if="isAdmin()" align="center" style="vertical-align:middle">
                <input type="checkbox" ng-click="setInvoiced(ord)" ng-true-value="1" ng-false-value="0" ng-model="ord.invoiced">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
