<div>
  <div class="client-info">
    <div class="title">
      Información del cliente
    </div>
    <form name="clientInfo" class="form-horizontal" ng-submit="validateInfo()" novalidate>
      <div class="form-group">
        <!-- LEGAL NAME FIELD -->
        <label for="legal_name" class="control-label col-sm-2">Razón social:</label>
        <div class="col-sm-4" ng-class="{
          'has-error': clientInfo.legalName.$invalid && (clientInfo.legalName.$touched || clientInfo.$submitted),
          'has-success': clientInfo.legalName.$valid}">
          <input type="text" name="legalName" id="legal_name" class="form-control" ng-model="client.legalName" required placeholder="La Fournee SAS">
          <!-- LEGAL NAME VALIDATIONS -->
          <div ng-messages="clientInfo.legalName.$error" multiple="true" ng-if="clientInfo.legalName.$touched || clientInfo.$submitted">
            <div ng-messages-include="templates/public/standard-ngmessages.html"></div>
          </div>
        </div>

        <!-- NIT FIELD -->
        <label for="nit" class="control-label col-sm-2">NIT:</label>
        <div class="col-sm-4" ng-class="{
          'has-error': clientInfo.nit.$invalid && (clientInfo.nit.$touched || clientInfo.$submitted),
          'has-success': !clientInfo.nit.$invalid}">
          <input type="text" name="nit" id="nit" class="form-control" ng-model="client.nit" required ng-pattern="/^[0-9]{9}-[0-9]{1}$/" placeholder="900649114-2">
          <!-- NIT VALIDATIONS -->
          <div ng-messages="clientInfo.nit.$error" multiple="true" ng-if="clientInfo.nit.$touched || clientInfo.$submitted">
            <div ng-message="pattern" class="help-block">El NIT no tiene un formato valido. Ej: 900649114-2</div>
            <div ng-messages-include="templates/public/standard-ngmessages.html"></div>
          </div>
        </div>
      </div>

      <div class="form-group" >
        <!-- TRADE NAME FIELD -->
        <label for="trade-name" class="control-label col-sm-2">Nombre de la empresa:</label>
        <div class="col-sm-4" ng-class="{
          'has-error': clientInfo.tradeName.$invalid && (clientInfo.tradeName.$touched || clientInfo.$submitted),
          'has-success': !clientInfo.tradeName.$invalid}">
          <input type="text" name="tradeName" id="trade-name" class="form-control" ng-model="client.tradeName" required placeholder="La Fournee">
          <!-- TRADE NAME VALIDATIONS -->
          <div ng-messages="clientInfo.tradeName.$error" multiple="true" ng-if="clientInfo.tradeName.$touched || clientInfo.$submitted">
            <div ng-messages-include="templates/public/standard-ngmessages.html"></div>
          </div>
        </div>

        <!-- BUSINESS PHONENUMBER FIELD -->
        <label for="bussines-phonenumber" class="control-label col-sm-2">Telefono de la empresa:</label>
        <div class="col-sm-4" ng-class="{
          'has-error': clientInfo.businessPhonenumber.$invalid && (clientInfo.businessPhonenumber.$touched || clientInfo.$submitted),
          'has-success': !clientInfo.businessPhonenumber.$invalid}">
          <input type="text" name="businessPhonenumber" id="bussines-phonenumber" class="form-control" ng-model="client.businessPhonenumber" required placeholder="4483480">
          <!-- BUSSINESS PHONENUMBER VALIDATIONS -->
          <div ng-messages="clientInfo.businessPhonenumber.$error" multiple="true" ng-if="clientInfo.businessPhonenumber.$touched || clientInfo.$submitted">
            <div ng-messages-include="templates/public/standard-ngmessages.html"></div>
          </div>
        </div>
      </div>

      <div class="form-group" >
        <!-- MANAGER NAME FIELD -->
        <label for="manager-name" class="control-label col-sm-2">Nombre del administrador:</label>
        <div class="col-sm-4" ng-class="{
          'has-error': clientInfo.managerName.$invalid && (clientInfo.managerName.$touched || clientInfo.$submitted),
          'has-success': !clientInfo.managerName.$invalid}">
          <input type="text" name="managerName" id="manager-name" class="form-control" ng-model="client.managerName" required placeholder="Karim Chohra">
          <!-- MANAGER NAME VALIDATIONS -->
          <div ng-messages="clientInfo.managerName.$error" multiple="true" ng-if="clientInfo.managerName.$touched || clientInfo.$submitted">
            <div ng-messages-include="templates/public/standard-ngmessages.html"></div>
          </div>
        </div>

        <!-- MANAGER PHONENUMBER FIELD -->
        <label for="manager-phonenumber" class="control-label col-sm-2">Telefono del administrador:</label>
        <div class="col-sm-4" ng-class="{
          'has-error': clientInfo.managerPhonenumber.$invalid && (clientInfo.managerPhonenumber.$touched || clientInfo.$submitted),
          'has-success': !clientInfo.managerPhonenumber.$invalid}">
          <input type="text" name="managerPhonenumber" id="manager-phonenumber" class="form-control" ng-model="client.managerPhonenumber" required placeholder="4483480">
          <!-- MANAGER PHONENUMBER VALIDATIONS -->
          <div ng-messages="clientInfo.managerPhonenumber.$error" multiple="true" ng-if="clientInfo.managerPhonenumber.$touched || clientInfo.$submitted">
            <div ng-messages-include="templates/public/standard-ngmessages.html"></div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <!-- ADITIONAL INFORMATION FIELD - OPTIONAL -->
        <label for="additional-information" class="control-label col-sm-2">Información adicional:</label>
        <div class="col-sm-10">
          <textarea id="additional-information" class="form-control" ng-model="client.additionalInformation">
          </textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <alert-message options="infoMsgOptions"> </alert-message>
        </div>
      </div>
      <!-- FORM BUTTONS -->
      <div class="button-nav">
        <button type="submit" class="btn btn-md btn-sienna">Siguiente</button>
        <button type="button" ui-sref="home" class="btn btn-md btn-sienna">Salir</button>
      </div>
    </form>
  </div>


</div>
