<div class="client-details-wrapper">
  <div class="section-header">
    <h1>Detalles del cliente: {{client.legalName}}</h1>
  </div>

  <div class="client-info" ng-hide="enablingProduct">

  <fieldset class="general-info form-horizontal">
    <legend>Información general</legend>
    <div class="form-group">
      <label for="" class="control-label col-sm-2">Razón social</label>
      <div class="col-sm-4">
        <input type="text" disabled class="form-control" value="{{client.legalName}}">
      </div>
      <label for="" class="control-label col-sm-2">NIT</label>
      <div class="col-sm-4">
        <input type="text" disabled class="form-control" value="{{client.nit}}">
      </div>
    </div>

    <div class="form-group">
      <label for="" class="control-label col-sm-2">Nombre de la empresa</label>
      <div class="col-sm-4">
        <input type="text" disabled class="form-control" value="{{client.tradeName}}">
      </div>
      <label for="" class="control-label col-sm-2">Telefono de la empresa</label>
      <div class="col-sm-4">
        <input type="text" disabled class="form-control" value="{{client.businessPhonenumber}}">
      </div>
    </div>

    <div class="form-group">
      <label for="" class="control-label col-sm-2">Nombre del administrador</label>
        <div class="col-sm-4">
          <input type="text" disabled class="form-control" value="{{client.managerName}}">
        </div>
        <label for="" class="control-label col-sm-2">Telefono del administrador</label>
        <div class="col-sm-4">
          <input type="text" disabled class="form-control" value="{{client.managerPhonenumber}}">
        </div>
    </div>
    <div class="form-group">
      <label for="" class="control-label col-sm-2">Información adicional</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="5" disabled>{{client.additionalInformation}}</textarea>
      </div>
    </div>
  </fieldset>

  <fieldset class="employee-list">
    <legend>Lista de empleados</legend>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Telefono</th>
          <th>Rol</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in client.clientEmployee">
          <td>{{employee.name}}</td>
          <td>{{employee.phonenumber}}</td>
          <td>{{employee.role}}</td>
        </tr>
      </tbody>
    </table>
  </fieldset>

  <fieldset class="product-list">
    <legend>Productos habilitados</legend>
    <ul>
      <li ng-repeat="clientProduct in client.products">
        <p>{{clientProduct.product.name}}</p>
        <div ng-click="disableProduct(clientProduct)">
          <span class="fa fa-trash"></span>
        </div>
      </li>
    </ul>
  </fieldset>

  <div class="button-list" ng-show="client.user.state == 1">
    <button type="button" name="button" class="btn btn-sienna" ng-click="showProducts()">
      Habilitar productos
    </button>
    <button type="button" name="button" class="btn btn-sienna" ng-click="disableClient()">
      Deshabilitar cliente
    </button>
  </div>
</div>

  <div class="product-enabler" ng-show="enablingProduct">
    <div class="product-selection">
      <div class="products">
        <div class="title">
          Productos disponibles
        </div>
        <product-card ng-repeat="product in products" product="product"
          ng-hide="product.hide" type="select" ng-click="selectProduct(product)">
        </product-card>
      </div>

      <div class="selected-products">
        <div class="title">
          Seleccionados
        </div>
        <div ng-repeat="product in selectedProducts" class="product"
          ng-click="deselectProduct(product)">
          <span class="product-name">{{product.shortName}}</span>
          <div class="hover-trash">
            <span class="fa fa-trash"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="button-list">
      <button type="button" name="button" class="btn btn-sienna" ng-click="enableProducts()">
        Confirmar
      </button>
      <button type="button" name="button" class="btn btn-sienna" ng-click="hideProducts()">
        salir
      </button>
    </div>
  </div>

</div>
