<div class="">
  <div class="form-group">
    <label for="legal_name">Legal name:</label>
    <input type="text" name="legal_name" value=""
      class="form-control">
    <label for="nit">NIT:</label>
    <input type="text" name="nit" value="" class="form-control">
    <label for="trade-name">Trade name:</label>
    <input type="text" name="trade_name" value="" class="form-control">
    <label for="manager-name">Nombre del administrador:</label>
    <input type="text" name="manager-name" value="" class="form-control">
    <label for="manager-phonenumber">Telefono del administrador:</label>
    <input type="text" name="manager-phonenumber" value="" class="form-control">
    <label for="bussines-phonenumber">Telefono de la empresa:</label>
    <input type="text" name="bussines-phonenumber" value="" class="form-control">
    <label for="additional-information">Información adicional:</label>
    <input type="text" name="additional-information" value="" class="form-control">

  </div>
  <button type="button" name="button" ui-sref="client-create.user"
    class="btn btn-md btn-sienna">Anterior</button>
  <button type="button" name="button" ui-sref="client-create.products"
    class="btn btn-md btn-sienna">Siguiente</button>
</div>
