<div class="client-create-wrapper">
  <div class="section-header">
    <h1>Creación de cliente</h1>
  </div>
  <div>
    <ul class="client-breadcrumb triangle">
      <li>
          <a ui-sref=".user" ui-sref-active="active">User</a>
      </li>
      <li >
          <a ui-sref=".info" ui-sref-active="active">Info</a>
      </li>
      <li>
          <a ui-sref=".products" ui-sref-active="active">Products</a>
      </li>
    </ul>



  </div>
  <div id="client-create-form" ui-view></div>

</div>
