<div class="">
  <div class="form-group">
    <label for="username">Nombre de usuario</label>
    <input type="text" name="username" value="" placeholder="Nombre de usuario" class="form-control">
    <label for="username">Contraseña</label>
    <input type="text" name="password" value="" placeholder="Contraseña" class="form-control">
  </div>
  <button type="button" name="button" ui-sref="home">Salir</button>
  <button type="button" name="button" ui-sref="client-create.info">Siguiente</button>
</div>
