<div class="client-list-wrapper">
  <div class="section-header">
    <h1>Lista de clientes</h1>
  </div>
  <div class="table-container">
    <div class="row">
          <div class="col-sm-12">
              <div>
                  <div class="input-group stylish-input-group">
                      <input type="text" class="form-control"  placeholder="Filtrar los resultados por razón social." ng-model="searchText.legalName">
                      <span class="input-group-addon">
                          <button type="submit">
                              <span class="glyphicon glyphicon-search"></span>
                          </button>
                      </span>
                  </div>
              </div>
          </div>
  	</div>
    <div class="table-responsive">
      <table class="table table-hover table-bordered table-condensed">
        <thead>
          <tr>
            <th ng-click="sortBy('nit')">NIT</th>
            <th ng-click="sortBy('legalName')">Razón social</th>
            <th ng-click="sortBy('tradeName')">Nombre de la empresa</th>
            <th ng-click="sortBy('businessPhonenumber')">Telefono empresa</th>
            <th ng-click="sortBy('state')">Estado</th>
            <th>Detalles</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="client in clients | filter:searchText | orderBy: sortByProperty:sortReversed">
            <td style="vertical-align:middle">{{client.nit}}</td>
            <td style="vertical-align:middle">{{client.legalName}}</td>
            <td style="vertical-align:middle">{{client.tradeName}}</td>
            <td style="vertical-align:middle">{{client.businessPhonenumber}}</td>
            <td style="vertical-align:middle">{{client.user.state | stateFilter}}</td>
            <td ng-click="showDetails(client)">
              <span class="fa fa-search"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
