<div>
  <div class="client-info">
    <div class="title">
      Información del cliente
    </div>
    <form name="clientInfo" class="form-horizontal" ng-submit="validateInfo()" novalidate>
      <div class="form-group">
        <!-- LEGAL NAME FIELD -->
        <label for="legal_name" class="control-label col-sm-2">Razón social:</label>
        <div class="col-sm-4" ng-class="{
          'has-error': clientInfo.legalName.$invalid && (clientInfo.legalName.$touched || clientInfo.$submitted),
          'has-success': clientInfo.legalName.$valid}">
          <input type="text" name="legalName" id="legal_name" class="form-control" ng-model="client.legalName" required>
          <!-- LEGAL NAME VALIDATIONS -->
          <div ng-messages="clientInfo.legalName.$error" multiple="true" ng-if="clientInfo.legalName.$touched || clientInfo.$submitted">
            <div ng-messages-include="templates/public/standard-ngmessages.html"></div>
          </div>
        </div>

        <!-- NIT FIELD -->
        <label for="nit" class="control-label col-sm-2">NIT:</label>
        <div class="col-sm-4" ng-class="{
          'has-error': clientInfo.nit.$invalid && (clientInfo.nit.$touched || clientInfo.$submitted),
          'has-success': !clientInfo.nit.$invalid}">
          <input type="text" name="nit" id="nit" class="form-control" ng-model="client.nit" required>
          <!-- NIT VALIDATIONS -->
          <div ng-messages="clientInfo.nit.$error" multiple="true" ng-if="clientInfo.nit.$touched || clientInfo.$submitted">
            <div ng-messages-include="templates/public/standard-ngmessages.html"></div>
          </div>
        </div>
      </div>

      <div class="form-group" >
        <!-- TRADE NAME FIELD -->
        <label for="trade-name" class="control-label col-sm-2">Nombre de la empresa:</label>
        <div class="col-sm-4" ng-class="{
          'has-error': clientInfo.tradeName.$invalid && (clientInfo.tradeName.$touched || clientInfo.$submitted),
          'has-success': !clientInfo.tradeName.$invalid}">
          <input type="text" name="tradeName" id="trade-name" class="form-control" ng-model="client.tradeName" required>
          <!-- TRADE NAME VALIDATIONS -->
          <div ng-messages="clientInfo.tradeName.$error" multiple="true" ng-if="clientInfo.tradeName.$touched || clientInfo.$submitted">
            <div ng-messages-include="templates/public/standard-ngmessages.html"></div>
          </div>
        </div>

        <!-- BUSINESS PHONENUMBER FIELD -->
        <label for="bussines-phonenumber" class="control-label col-sm-2">Telefono de la empresa:</label>
        <div class="col-sm-4" ng-class="{
          'has-error': clientInfo.businessPhonenumber.$invalid && (clientInfo.businessPhonenumber.$touched || clientInfo.$submitted),
          'has-success': !clientInfo.businessPhonenumber.$invalid}">
          <input type="text" name="businessPhonenumber" id="bussines-phonenumber" class="form-control" ng-model="client.businessPhonenumber" required>
          <!-- BUSSINESS PHONENUMBER VALIDATIONS -->
          <div ng-messages="clientInfo.businessPhonenumber.$error" multiple="true" ng-if="clientInfo.businessPhonenumber.$touched || clientInfo.$submitted">
            <div ng-messages-include="templates/public/standard-ngmessages.html"></div>
          </div>
        </div>
      </div>

      <div class="form-group" >
        <!-- MANAGER NAME FIELD -->
        <label for="owner-name" class="control-label col-sm-2">Nombre del dueño:</label>
        <div class="col-sm-4" ng-class="{
          'has-error': clientInfo.ownerName.$invalid && (clientInfo.ownerName.$touched || clientInfo.$submitted),
          'has-success': !clientInfo.ownerName.$invalid}">
          <input type="text" name="ownerName" id="owner-name" class="form-control" ng-model="client.ownerName" required>
          <!-- MANAGER NAME VALIDATIONS -->
          <div ng-messages="clientInfo.ownerName.$error" multiple="true" ng-if="clientInfo.ownerName.$touched || clientInfo.$submitted">
            <div ng-messages-include="templates/public/standard-ngmessages.html"></div>
          </div>
        </div>

        <!-- MANAGER PHONENUMBER FIELD -->
        <label for="owner-phonenumber" class="control-label col-sm-2">Telefono del dueño:</label>
        <div class="col-sm-4" ng-class="{
          'has-error': clientInfo.ownerPhonenumber.$invalid && (clientInfo.ownerPhonenumber.$touched || clientInfo.$submitted),
          'has-success': !clientInfo.ownerPhonenumber.$invalid}">
          <input type="text" name="ownerPhonenumber" id="owner-phonenumber" class="form-control" ng-model="client.ownerPhonenumber" required>
          <!-- MANAGER PHONENUMBER VALIDATIONS -->
          <div ng-messages="clientInfo.ownerPhonenumber.$error" multiple="true" ng-if="clientInfo.ownerPhonenumber.$touched || clientInfo.$submitted">
            <div ng-messages-include="templates/public/standard-ngmessages.html"></div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <!-- ADITIONAL INFORMATION FIELD - OPTIONAL -->
        <label for="additional-information" class="control-label col-sm-2">Información adicional:</label>
        <div class="col-sm-10">
          <textarea id="additional-information" class="form-control" ng-model="client.additionalInformation">
          </textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <alert-message options="infoMsgOptions"> </alert-message>
        </div>
      </div>
      <!-- FORM BUTTONS -->
      <div class="button-nav">
        <button type="submit" class="btn btn-md btn-sienna">Siguiente</button>
        <button type="button" ui-sref="home" class="btn btn-md btn-sienna">Salir</button>
      </div>
    </form>
  </div>


</div>
