<div class="client-details-wrapper content-wrapper lg">
  <div class="section-header">
    <h1>Perfil: {{client.legalName}}</h1>
  </div>

  <div class="client-info">
  <form class="form-horizontal" ng-submit="updateGeneralInfo()" name="update" novalidate>
    <fieldset>
      <legend>Información general</legend>
      <div class="form-group">
        <div ng-class="{'has-error': update.legalName.$invalid && (!update.legalName.$pristine || update.$submitted || update.legalName.$touched),
            'has-success': update.legalName.$valid}">
          <label for="legalName" class="control-label col-sm-2">Razón social</label>
          <div class="col-sm-4">
            <input type="text" id="legalName" name="legalName" class="form-control" ng-model="client.legalName" required>
          </div>
          <!-- VALIDACIONES DE RAZÓN SOCIAL-->
          <div ng-messages="update.legalName.$error" ng-if="update.legalName.$touched || update.$submitted" ng-messages-multiple>
            <p ng-message="required" class="help-block"><b>El campo razón social es obligatorio.</b></p>
          </div>
        </div>

        <div ng-class="{'has-error': update.nit.$invalid && (!update.nit.$pristine || update.$submitted || update.nit.$touched),
            'has-success': update.nit.$valid}">
          <label for="nit" class="control-label col-sm-2">NIT</label>
          <div class="col-sm-4">
            <input type="text" id="nit" name="nit" class="form-control" ng-model="client.nit" required>
          </div>
          <!-- VALIDACIONES NIR-->
          <div ng-messages="update.nit.$error" ng-if="update.nit.$touched || update.$submitted" ng-messages-multiple>
            <p ng-message="required" class="help-block"><b>El campo NIT es obligatorio.</b></p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div ng-class="{'has-error': update.tradeName.$invalid && (!update.tradeName.$pristine || update.$submitted || update.tradeName.$touched),
            'has-success': update.tradeName.$valid}">
          <label for="tradeName" class="control-label col-sm-2">Nombre de la empresa</label>
          <div class="col-sm-4">
            <input type="text" id="tradeName" name="tradeName" class="form-control" ng-model="client.tradeName" required>
          </div>
          <!-- VALIDACIONES DE NOMBRE DE LA EMPRESA-->
          <div ng-messages="update.tradeName.$error" ng-if="update.tradeName.$touched || update.$submitted" ng-messages-multiple>
            <p ng-message="required" class="help-block"><b>El campo nombre de la empresa es obligatorio.</b></p>
          </div>
        </div>

        <div ng-class="{'has-error': update.businessPhonenumber.$invalid && (!update.businessPhonenumber.$pristine || update.$submitted || update.businessPhonenumber.$touched),
            'has-success': update.businessPhonenumber.$valid}">
          <label for="businessPhonenumber" class="control-label col-sm-2">Telefono de la empresa</label>
          <div class="col-sm-4">
            <input type="text" id="businessPhonenumber" name="businessPhonenumber" class="form-control" ng-model="client.businessPhonenumber" required>
          </div>
          <!-- VALIDACIONES DE TELEFONO DE LA EMPRESA-->
          <div ng-messages="update.businessPhonenumber.$error" ng-if="update.businessPhonenumber.$touched || update.$submitted" ng-messages-multiple>
            <p ng-message="required" class="help-block"><b>El campo telefono de la empresa es obligatorio.</b></p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div ng-class="{'has-error': update.managerName.$invalid && (!update.managerName.$pristine || update.$submitted || update.managerName.$touched),
            'has-success': update.managerName.$valid}">
          <label for="managerName" class="control-label col-sm-2">Nombre del administrador</label>
          <div class="col-sm-4">
            <input type="text" id="managerName" name="managerName" class="form-control" ng-model="client.managerName" required>
          </div>
          <!-- VALIDACIONES DE NOMBRE DEL ADMINISTRADOR-->
          <div ng-messages="update.managerName.$error" ng-if="update.managerName.$touched || update.$submitted" ng-messages-multiple>
            <p ng-message="required" class="help-block"><b>El campo nombre del administrador es obligatorio.</b></p>
          </div>
        </div>

        <div ng-class="{'has-error': update.managerPhonenumber.$invalid && (!update.managerPhonenumber.$pristine || update.$submitted || update.managerPhonenumber.$touched),
            'has-success': update.managerPhonenumber.$valid}">
          <label for="managerPhonenumber" class="control-label col-sm-2">Telefono del administrador</label>
          <div class="col-sm-4">
            <input type="text" id="managerPhonenumber" name="managerPhonenumber" class="form-control" ng-model="client.managerPhonenumber" required>
          </div>
          <!-- VALIDACIONES DE TELEFONO DEL ADMINISTRADOR-->
          <div ng-messages="update.managerPhonenumber.$error" ng-if="update.managerPhonenumber.$touched || update.$submitted" ng-messages-multiple>
            <p ng-message="required" class="help-block"><b>El campo telefono del administrador es obligatorio.</b></p>
          </div>
        </div>
      </div>
      <!-- PANEL DE ALERTA PARA INGO GENERAL -->
      <div class="alert col-sm-12" ng-class="{'alert-success': !signupError, 'alert-danger': signupError}" ng-show="showAlertGeneral">
        <button type="button" class="close" ng-click="switchAlert('showAlertGeneral')">×</button>
        <strong> {{alertMessageGeneral}}</strong>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-10 col-sm-2">
          <button type="submit" name="button" class="btn btn-sienna btn-md btn-block">Guardar información</button>
        </div>
      </div>

    </fieldset>
  </form>

    <form class="form-horizontal" ng-submit="updateBillAddress()" name="billAddressUpdate" novalidate>
      <fieldset>
        <legend>Dirección de facturación</legend>
        <div class="form-group">
          <div ng-class="{'has-error': billAddressUpdate.country.$invalid && (!billAddressUpdate.country.$pristine || billAddressUpdate.$submitted || billAddressUpdate.country.$touched),
            'has-success': billAddressUpdate.country.$valid}">
            <label for="country" class="control-label col-sm-2">País</label>
            <div class="col-sm-4">
              <input type="text" id="country" name="country" class="form-control" ng-model="client.billAddress.country" required>
            </div>

            <!-- VALIDACIONES DE PAIS-->
            <div ng-messages="billAddressUpdate.country.$error" ng-if="billAddressUpdate.country.$touched || billAddressUpdate.$submitted" ng-messages-multiple>
              <p ng-message="required" class="help-block"><b>El campo pais es obligatorio.</b></p>
            </div>
          </div>

          <div ng-class="{'has-error': billAddressUpdate.department.$invalid && (!billAddressUpdate.department.$pristine || billAddressUpdate.$submitted || billAddressUpdate.department.$touched),
            'has-success': billAddressUpdate.department.$valid}">
            <label for="department" class="control-label col-sm-2">Despartamento</label>
            <div class="col-sm-4">
              <input type="text" id="department" name="department" class="form-control" ng-model="client.billAddress.department" required>
            </div>

            <!-- VALIDACIONES DE DEPARTAMENTO-->
            <div ng-messages="billAddressUpdate.department.$error" ng-if="billAddressUpdate.department.$touched || billAddressUpdate.$submitted" ng-messages-multiple>
              <p ng-message="required" class="help-block"><b>El campo departamento es obligatorio.</b></p>
            </div>
          </div>

        </div>
        <div class="form-group">
          <div ng-class="{'has-error': billAddressUpdate.city.$invalid && (!billAddressUpdate.city.$pristine || billAddressUpdate.$submitted || billAddressUpdate.city.$touched),
            'has-success': billAddressUpdate.city.$valid}">
            <label for="city" class="control-label col-sm-2">Ciudad</label>
            <div class="col-sm-4">
              <input type="text" id="city" name="city" class="form-control" ng-model="client.billAddress.city" required>
            </div>
            <!-- VALIDACIONES DE CIUDAD-->
            <div ng-messages="billAddressUpdate.city.$error" ng-if="billAddressUpdate.city.$touched || billAddressUpdate.$submitted" ng-messages-multiple>
              <p ng-message="required" class="help-block"><b>El campo ciudad es obligatorio.</b></p>
            </div>
          </div>

          <div ng-class="{'has-error': billAddressUpdate.neighborhood.$invalid && (!billAddressUpdate.neighborhood.$pristine || billAddressUpdate.$submitted || billAddressUpdate.neighborhood.$touched),
          'has-success': billAddressUpdate.neighborhood.$valid}">
            <label for="neighborhood" class="control-label col-sm-2">Barrio</label>
            <div class="col-sm-4">
              <input type="text" id="neighborhood" name="neighborhood" class="form-control" ng-model="client.billAddress.neighborhood" required>
            </div>
            <!-- VALIDACIONES DE BARRIO-->
            <div ng-messages="billAddressUpdate.neighborhood.$error" ng-if="billAddressUpdate.neighborhood.$touched || billAddressUpdate.$submitted" ng-messages-multiple>
              <p ng-message="required" class="help-block"><b>El campo barrio es obligatorio.</b></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div ng-class="{'has-error': billAddressUpdate.nomenclature.$invalid && (!billAddressUpdate.nomenclature.$pristine || billAddressUpdate.$submitted || billAddressUpdate.nomenclature.$touched),
            'has-success': billAddressUpdate.nomenclature.$valid}">
            <label for="nomenclature" class="control-label col-sm-2">Nomenclatura</label>
            <div class="col-sm-4">
              <input type="text" id="nomenclature" name="nomenclature" class="form-control" ng-model="client.billAddress.nomenclature" required>
            </div>
            <!-- VALIDACIONES DE NOMENCLATURA-->
            <div ng-messages="billAddressUpdate.nomenclature.$error" ng-if="billAddressUpdate.nomenclature.$touched || billAddressUpdate.$submitted" ng-messages-multiple>
              <p ng-message="required" class="help-block"><b>El campo nomenclatura es obligatorio.</b></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div ng-class="{'has-error': billAddressUpdate.additionalInformation.$invalid && (!billAddressUpdate.additionalInformation.$pristine || billAddressUpdate.$submitted || billAddressUpdate.additionalInformation.$touched),
            'has-success': billAddressUpdate.additionalInformation.$valid}">
            <label for="" class="control-label col-sm-2">Punto de referencia</label>
            <div class="col-sm-8">
              <textarea rows="5" id="additionalInformation" name="additionalInformation" class="form-control" ng-model="client.billAddress.additionalInformation" required></textarea>
            </div>
            <!-- VALIDACIONES DE PUNTO DE REFERENCIA-->
            <div ng-messages="billAddressUpdate.additionalInformation.$error" ng-if="billAddressUpdate.additionalInformation.$touched || billAddressUpdate.$submitted" ng-messages-multiple>
              <p ng-message="required" class="help-block"><b>El campo punto de referencia es obligatorio.</b></p>
            </div>
          </div>
        </div>
        <!-- PANEL DE ALERTA PARA DIRECCIÓN DE FACTURACIÓN -->
        <div class="alert col-sm-12" ng-class="{'alert-success': !signupError, 'alert-danger': signupError}" ng-show="showAlertBill">
          <button type="button" class="close" ng-click="switchAlert('showAlertBill')">×</button>
          <strong> {{alertMessageBillAddress}}</strong>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-10 col-sm-2">
            <button type="submit" name="button" class="btn btn-sienna btn-md btn-block">Guardar información</button>
          </div>
        </div>
      </fieldset>
    </form>

    <form class="form-horizontal" ng-submit="updateDeliveryAddress()" name="deliveryAddressUpdate" novalidate>
      <fieldset>
        <legend>Dirección de entrega</legend>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <button type="button" name="clone" ng-click="cloneAddress()" class="btn btn-sienna btn-md btn-block">Utilizar la misma de facturación</button>
          </div>
        </div>
        <div class="form-group">
          <div ng-class="{'has-error': deliveryAddressUpdate.country.$invalid && (!deliveryAddressUpdate.country.$pristine || deliveryAddressUpdate.$submitted || deliveryAddressUpdate.country.$touched),
            'has-success': deliveryAddressUpdate.country.$valid}">
            <label for="country" class="control-label col-sm-2">País</label>
            <div class="col-sm-4">
              <input type="text" id="country" name="country" class="form-control" ng-model="client.deliveryAddress.country" required>
            </div>

            <!-- VALIDACIONES DE PAIS-->
            <div ng-messages="deliveryAddressUpdate.country.$error" ng-if="deliveryAddressUpdate.country.$touched || deliveryAddressUpdate.$submitted" ng-messages-multiple>
              <p ng-message="required" class="help-block"><b>El campo pais es obligatorio.</b></p>
            </div>
          </div>

          <div ng-class="{'has-error': deliveryAddressUpdate.department.$invalid && (!deliveryAddressUpdate.department.$pristine || deliveryAddressUpdate.$submitted || deliveryAddressUpdate.department.$touched),
            'has-success': deliveryAddressUpdate.department.$valid}">
            <label for="department" class="control-label col-sm-2">Despartamento</label>
            <div class="col-sm-4">
              <input type="text" id="department" name="department" class="form-control" ng-model="client.deliveryAddress.department" required>
            </div>

            <!-- VALIDACIONES DE DEPARTAMENTO-->
            <div ng-messages="deliveryAddressUpdate.department.$error" ng-if="deliveryAddressUpdate.department.$touched || deliveryAddressUpdate.$submitted" ng-messages-multiple>
              <p ng-message="required" class="help-block"><b>El campo departamento es obligatorio.</b></p>
            </div>
          </div>

        </div>
        <div class="form-group">
          <div ng-class="{'has-error': deliveryAddressUpdate.city.$invalid && (!deliveryAddressUpdate.city.$pristine || deliveryAddressUpdate.$submitted || deliveryAddressUpdate.city.$touched),
            'has-success': deliveryAddressUpdate.city.$valid}">
            <label for="city" class="control-label col-sm-2">Ciudad</label>
            <div class="col-sm-4">
              <input type="text" id="city" name="city" class="form-control" ng-model="client.deliveryAddress.city" required>
            </div>
            <!-- VALIDACIONES DE CIUDAD-->
            <div ng-messages="deliveryAddressUpdate.city.$error" ng-if="deliveryAddressUpdate.city.$touched || deliveryAddressUpdate.$submitted" ng-messages-multiple>
              <p ng-message="required" class="help-block"><b>El campo ciudad es obligatorio.</b></p>
            </div>
          </div>

          <div ng-class="{'has-error': deliveryAddressUpdate.neighborhood.$invalid && (!deliveryAddressUpdate.neighborhood.$pristine || deliveryAddressUpdate.$submitted || deliveryAddressUpdate.neighborhood.$touched),
          'has-success': deliveryAddressUpdate.neighborhood.$valid}">
            <label for="neighborhood" class="control-label col-sm-2">Barrio</label>
            <div class="col-sm-4">
              <input type="text" id="neighborhood" name="neighborhood" class="form-control" ng-model="client.deliveryAddress.neighborhood" required>
            </div>
            <!-- VALIDACIONES DE BARRIO-->
            <div ng-messages="deliveryAddressUpdate.neighborhood.$error" ng-if="deliveryAddressUpdate.neighborhood.$touched || deliveryAddressUpdate.$submitted" ng-messages-multiple>
              <p ng-message="required" class="help-block"><b>El campo barrio es obligatorio.</b></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div ng-class="{'has-error': deliveryAddressUpdate.nomenclature.$invalid && (!deliveryAddressUpdate.nomenclature.$pristine || deliveryAddressUpdate.$submitted || deliveryAddressUpdate.nomenclature.$touched),
            'has-success': deliveryAddressUpdate.nomenclature.$valid}">
            <label for="nomenclature" class="control-label col-sm-2">Nomenclatura</label>
            <div class="col-sm-4">
              <input type="text" id="nomenclature" name="nomenclature" class="form-control" ng-model="client.deliveryAddress.nomenclature" required>
            </div>
            <!-- VALIDACIONES DE NOMENCLATURA-->
            <div ng-messages="deliveryAddressUpdate.nomenclature.$error" ng-if="deliveryAddressUpdate.nomenclature.$touched || deliveryAddressUpdate.$submitted" ng-messages-multiple>
              <p ng-message="required" class="help-block"><b>El campo nomenclatura es obligatorio.</b></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div ng-class="{'has-error': deliveryAddressUpdate.additionalInformation.$invalid && (!deliveryAddressUpdate.additionalInformation.$pristine || deliveryAddressUpdate.$submitted || deliveryAddressUpdate.additionalInformation.$touched),
            'has-success': deliveryAddressUpdate.additionalInformation.$valid}">
            <label for="" class="control-label col-sm-2">Punto de referencia</label>
            <div class="col-sm-8">
              <textarea rows="5" id="additionalInformation" name="additionalInformation" class="form-control" ng-model="client.deliveryAddress.additionalInformation" required></textarea>
            </div>
            <!-- VALIDACIONES DE PUNTO DE REFERENCIA-->
            <div ng-messages="deliveryAddressUpdate.additionalInformation.$error" ng-if="deliveryAddressUpdate.additionalInformation.$touched || deliveryAddressUpdate.$submitted" ng-messages-multiple>
              <p ng-message="required" class="help-block"><b>El campo punto de referencia es obligatorio.</b></p>
            </div>
          </div>
        </div>
        <!-- PANEL DE ALERTA PARA DIRECCIÓN DE FACTURACIÓN -->
        <div class="alert col-sm-12" ng-class="{'alert-success': !signupError, 'alert-danger': signupError}" ng-show="showAlertDelivery">
          <button type="button" class="close" ng-click="switchAlert('showAlertDelivery')">×</button>
          <strong> {{alertMessageDeliveryAddress}}</strong>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-10 col-sm-2">
            <button type="submit" name="button" class="btn btn-sienna btn-md btn-block">Guardar información</button>
          </div>
        </div>
      </fieldset>
    </form>

    <fieldset class="employee-list">
      <legend>Empleados</legend>
      <div class="row container-fluid">
        <strong>Para realizar un pedido debe tener registrado al menos un empleado.</strong>
        <hr />
      </div>
      <div class="row">
        <div class="col-sm-5">
          <form class="form-horizontal" ng-submit="createClientEmployee()" name="register" novalidate>
            <div class="form-group">
              <div ng-class="{'has-error': register.name.$invalid && (!register.name.$pristine || register.$submitted || register.name.$touched),
                'has-success': register.name.$valid}">
                <label for="name" class="control-label col-sm-4">Nombre</label>
                <div class="col-sm-8">
                  <input type="text" id="name" name="name" class="form-control" ng-model="employee.name" required>
                </div>
                <!-- VALIDACIONES DE NOMBRE-->
                <div ng-messages="register.name.$error" ng-if="register.name.$touched || register.$submitted" ng-messages-multiple>
                  <p ng-message="required" class="help-block"><b>El campo nombre es obligatorio.</b></p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div ng-class="{'has-error': register.phonenumber.$invalid && (!register.phonenumber.$pristine || register.$submitted || register.phonenumber.$touched),
                'has-success': register.phonenumber.$valid}">
                <label for="phonenumber" class="control-label col-sm-4">Número de telefono</label>
                <div class="col-sm-8">
                  <input type="text" id="phonenumber" name="phonenumber" class="form-control" ng-model="employee.phonenumber" required>
                </div>
                <!-- VALIDACIONES DE NÚMERO DE TELEFONO-->
                <div ng-messages="register.phonenumber.$error" ng-if="register.phonenumber.$touched || register.$submitted" ng-messages-multiple>
                  <p ng-message="required" class="help-block"><b>El campo número de telefono es obligatorio.</b></p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div ng-class="{'has-error': register.role.$invalid && (!register.role.$pristine || register.$submitted || register.role.$touched),
                'has-success': register.role.$valid}">
                <label for="role" class="control-label col-sm-4">Área del empleado</label>
                <div class="col-sm-8">
                  <select class="form-control" id="role" name="role" ng-model="placement.selected" ng-options="option for option in placement.options" required></select>
                </div>
                <!-- VALIDACIONES DE TIPO DE EMPLEADO-->
                <div ng-messages="register.role.$error" ng-if="register.role.$touched || register.$submitted" ng-messages-multiple>
                  <p ng-message="required" class="help-block"><b>El campo área del empleado es obligatorio.</b></p>
                </div>
              </div>
            </div>
            <!-- PANEL DE ALERTA PARA DIRECCIÓN DE FACTURACIÓN -->
            <div class="alert col-sm-12" ng-class="{'alert-success': !signupError, 'alert-danger': signupError}" ng-show="showAlertEmployee">
              <button type="button" class="close" ng-click="switchAlert('showAlertEmployee')">×</button>
              <strong> {{alertMessageEmployee}}</strong>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" name="button3" class="btn btn-sienna btn-md btn-block">Agregar empleado</button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-sm-7 ">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Rol</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="employee in client.clientEmployee">
                <td>{{employee.name}}</td>
                <td>{{employee.phonenumber}}</td>
                <td>{{employee.role}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
    <form class="form-horizontal" ng-submit="updatePassword()" name="pswForm" novalidate>
      <fieldset>
        <legend>Cambiar contraseña</legend>
        <div class="row container-fluid">
          <strong>En esta sección podrá cambiar la contraseña que se le asignó.</strong>
          <hr />
        </div>
        <!-- CONTRASEÑA ACTUAL -->
        <div class="control-group form-group col-sm-12">
          <div ng-class="{'has-error': pswForm.currentPassword.$inalid && (!pswForm.currentPassword.$pristine || pswForm.$submitted || pswForm.currentPassword.$touched),
          'has-success': pswForm.currentPassword.$valid}">
            <label for="currentPassword" class="control-label col-sm-offset-3 col-sm-2">Contraseña actual</label>
            <div class="col-sm-4">
              <input name="currentPassword" type="password" placeholder="Ingrese su contraseña actual." class="form-control" ng-model="user.currentPassword" required>
            </div>

            <!-- VALIDACIONES DE CONTRASEÑA ACTUAL-->
            <div ng-messages="pswForm.currentPassword.$error" ng-if="pswForm.currentPassword.$touched || pswForm.$submitted" ng-messages-multiple>
              <p ng-message="required" class="help-block"><b>El campo de contraseña actual es obligatorio.</b></p>
            </div>
          </div>
        </div>

        <!-- CONTRASEÑA NUEVA-->
        <div class="control-group form-group col-sm-12">
          <div ng-class="{'has-error': pswForm.newPassword.$invalid && (!pswForm.newPassword.$pristine || pswForm.$submitted || pswForm.newPassword.$touched),
          'has-success': pswForm.newPassword.$valid}">
            <label for="newPassword" class="control-label col-sm-offset-3 col-sm-2">Contraseña nueva*</label>
            <div class="col-sm-4">
              <input name="newPassword" type="password" placeholder="Ingrese su contraseña nueva." class="form-control" ng-model="user.newPassword" ng-minlength="6" required>
            </div>

            <!-- VALIDACIONES DE CONTRASEÑA NUEVA-->
            <div ng-messages="pswForm.newPassword.$error" ng-if="pswForm.newPassword.$touched || pswForm.$submitted" ng-messages-multiple>
              <p ng-message="required" class="help-block"><b>El campo de contraseña nueva es obligatorio.</b></p>
              <p ng-message="minlength" class="help-block"><b>La contraseña debe tener por lo menos 6 carácteres.</b></p>
            </div>
          </div>
        </div>

        <!-- COMFIRMAR CONTRASEÑA -->
        <div class="control-group form-group col-sm-12">
          <div ng-class="{'has-error': pswForm.rePassword.$invalid && (!pswForm.rePassword.$pristine || pswForm.$submitted || pswForm.rePassword.$touched),
          'has-success': pswForm.rePassword.$valid}">
            <label for="rePassword" class="control-label col-sm-offset-3 col-sm-2">Repetir contraseña*</label>
            <div class="col-sm-4">
              <input name="rePassword" type="password" placeholder="Vuelve a escribir la contraseña nueva." class="form-control" ng-model="user.rePassword" match-password="newPassword" required>
            </div>

            <!-- VALIDACIONES DE LA CONFIRMACIÓN DE CONTRASEÑA -->
            <div ng-messages="pswForm.rePassword.$error" ng-if="pswForm.rePassword.$touched || pswForm.$submitted" ng-messages-multiple>
              <p ng-message="required" class="help-block"><b>El campo repetir contraseña es obligatorio.</b></p>
              <p ng-message="passwordMatch" class="help-block"><b>Las contraseñas deben ser iguales.</b></p>
            </div>
          </div>
        </div>

        <!-- PANEL DE ALERTA DE ERRORES -->
        <div class="alert col-sm-offset-5 col-sm-3" ng-class="{'alert-success': !error, 'alert-danger': error}" ng-show="showAlertPassword">
          <button type="button" class="close" ng-click="switchAlert('showAlertPassword')">×</button>
          <strong> {{alertMessagePassword}}</strong>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-5 col-sm-3">
            <button class="btn btn-sienna btn-md btn-block" type="submit">
          <span ng-show="!processing">Cambiar contraseña </span>
          <span ng-show="processing">procesando <i class="glyphicon glyphicon-refresh gly-spin"></i></span>
        </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
