<div class="container-fluid order-create">
  <form ng-submit="confirm()">
    <fieldset>
      <legend>Información de entrega</legend>
      <div class="col-sm-12">
        <font color="red"> Recuerde que los pedidos que se envíen antes de la 2 pm se entregarán al día siguiente,
          en caso de haberlo enviado después de esta hora y su fecha deseada para la entrega
        es el siguiente día, se analiza disponibilidad de la empresa, pero su fecha de entrega será
        en dos días si no se acepta su fecha deseada para la entrega.</font>
        <hr />
      </div>
      <div class="col-sm-4">
        <h1 ng-if="!formToUpdate">Fecha deseada para la entrega:</h1>
        <h1 ng-if="formToUpdate">Fecha de la entrega:</h1>
        <br />
        <br />
        <p class="input-group col-sm-9">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="order.dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" readonly/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>

      <div class="col-sm-7">
        <h1 for="delivery_date">Horario deseado para la entrega:</h1>
        <div class="col-sm-1 label-time">
          <label>Inicial: </label>
        </div>
        <div class="col-sm-4">
          <div uib-timepicker ng-model="order.timeInitial" name="initial_suggested_time" ng-change="changedInitial()"
          hour-step="order.hstep" minute-step="order.mstep" min="order.minTimeInitial" max="order.maxTimeInitial" show-meridian=false></div>
        </div>
        <div class="col-sm-1 label-time">
          <label>Final:</label>
        </div>
        <div class="col-sm-4">
          <div uib-timepicker ng-model="order.timeFinal" name="initial_suggested_time" ng-change="changedFinal()"
          hour-step="order.hstep" minute-step="order.mstep" min="order.minTimeFinal" max="order.maxTimeFinal" show-meridian=false></div>
        </div>
      </div>
    </fieldset>
    <br />
    <fieldset>
      <legend>Información adicional</legend>
      <div class="form-group col-sm-6">
        <label>Empleado habilitado para realizar el pedido:</label>
        <select class="form-control" ng-model="placement.selected" ng-options="option.name for option in placement.options"></select>
      </div>
      <div class="form-group col-sm-12">
        <label for="additional_information">Comentario:</label>
        <textarea placeholder="Escriba algún comentario acerca del pedido." rows="4" cols="50" name="additional_information" class="form-control" ng-model="order.additionalInformation"></textarea> {{additionalInformation}}
      </div>
    </fieldset>
    <br />
    <div class="button-nav">
      <button ng-if="!formToUpdate" type="submit" name="buttonCreate" class="btn btn-md btn-sienna">Enviar</button>
      <button ng-if="formToUpdate" ng-click="confirm()" type="button" name="buttonUpdate" class="btn btn-md btn-sienna">Actualizar</button>
      <button ng-if="!formToUpdate" type="button" name="button" ui-sref="order.create.shoppingCart" class="btn btn-md btn-sienna">Anterior</button>
      <button ng-if="formToUpdate" type="button" name="button" ui-sref="order.create.shoppingCartUpdate" class="btn btn-md btn-sienna">Anterior</button>
    </div>
    <br />
  </form>
</div>
