<div class="">
  <div class="product-selection">
    <div class="products">
      <div class="title">
        Lista de productos
      </div>
      <product-card ng-repeat="product in products" product="product" type="orderProduct" select-list="orderList">
      </product-card>
    </div>

    <div class="selected-products">
      <div class="title">
        Seleccionados
      </div>
      <div ng-repeat="product in orderList" class="product order" ng-click="unSelectProduct(product)">
        <span class="product-name">{{product.name}}</span>
        <span class="product-name">{{product.baked | bakedFilter}}</span>
        <span class="product-name">X{{product.amount}}</span>
        <div class="hover-trash">
          <span class="fa fa-trash"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="button-nav">
    <button type="button" name="button" ng-click="validateProducts()" class="btn btn-md btn-sienna">Confirmar</button>
    <button type="button" name="button" ui-sref="home" class="btn btn-md btn-sienna">Salir</button>
  </div>
</div>
