<div class="col-sm-6 col-sm-offset-3" style="padding-top: 10%">
  <form name="token" ng-submit="getToken()" ng-show="!waitingCode" class="animate-show form-recover" novalidate>
    <div class="row">
      <h1>¿Olvidaste tu contraseña?</h1>
      <p>Si has olvidado tu contraseña puedes usar esta página para solicitar una nueva. Escribe tu correo electrónico y luego da click en enviar.</p>

      <p>Te enviaremos un correo electrónico con un código con el cual podrás recuperar tu cuenta.</p>
      <hr>
      <!-- USUARIO-->
      <div class="control-group form-group">
        <div ng-class="{'has-error': token.email.$invalid && (!token.$pristine || token.$submitted || token.email.$touched),
        'has-success': token.email.$valid}">
        <label for="email">Cuenta de usuario</label>
        <input type="text" name="email" placeholder="Ej. lafournee@gmail.com" class="form-control"
        ng-model="user.email" required>

        <!-- VALIDACIONES DE CUENTA DE USUARIO -->
        <div ng-messages="token.email.$error" ng-if="token.email.$touched || token.$submitted" ng-messages-multiple>
          <p ng-message="required" class="help-block"><b>Debe ingresar un correo electrónico.</b></p>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-sienna btn-sm btn-block" >
      <span ng-show="!sending">Enviar </span>
      <span ng-show="sending">Enviando <i class="glyphicon glyphicon-refresh gly-spin"></i></span>
    </button>
  </div>
</form>

<form name="recoverPassword" ng-submit="recoverPasswordUser()" class="animate-show form-recover" ng-show="waitingCode" novalidate>
  <div class="row">
    <h1>Recuperar contraseña</h1>
    <p>Ingresa el código que hemos enviado a tu correo electrónico para reestablecer tu contraseña.</p>
    <hr>
    <!-- CÓDIGO-->
    <div class="control-group form-group">
      <div ng-class="{'has-error': recoverPassword.code.$invalid && (!recoverPassword.$pristine || recoverPassword.$submitted || recoverPassword.code.$touched),
      'has-success': recoverPassword.code.$valid}">
      <label for="code">Código</label>
      <input type="text" name="code" placeholder="Ej. dEca02zX"
      class="form-control" ng-model="user.code" required>

      <!-- VALIDACIONES DE CUENTA CÓDIGO -->
      <div ng-messages="recoverPassword.code.$error" ng-if="recoverPassword.code.$touched || recoverPassword.$submitted" ng-messages-multiple>
        <p ng-message="required" class="help-block"><b>Debe ingresar el código solicitado.</b></p>
      </div>
    </div>
  </div>

  <button  type="submit" class="btn btn-sienna btn-sm btn-block">
    <span ng-show="!sending">Enviar </span>
    <span ng-show="sending">Enviando <i class="glyphicon glyphicon-refresh gly-spin"></i></span>
  </button>
</div>
</form>
<br>
<!-- INFORMACIÓN DE ERRORES -->
<div class="alert col-sm-12" ng-class="{'alert-success': !recoverError, 'alert-danger': recoverError}"
  ng-show="showAlert">
<button type="button" class="close" ng-click="switchError('showAlert')">×</button>
<strong> {{messageAlert}}</strong>
</div>
</div>
