.client-create-wrapper {
  overflow: hidden;

  .section-header {
    background-color: @theme-nero;
    padding-left: 40px;

    h1 {
      font-size: 36px;
      color: @font-tussock;
      padding: 15px;
    }
  }

  .client-breadcrumb {
    display: table;
    margin: 0 auto;
    list-style: none;
    // overflow: hidden;
    font: 18px Sans-Serif;
    margin-top: 20px;
    margin-bottom: 20px;
    li {
      // float: left;
      display: inline;

      a {
        color: white;
        text-decoration: none;
        padding: 10px 0 10px 65px;
        background-color: @theme-nero;
        position: relative;
        display: block;
        float: left;
        text-align: center;

        &:hover {
          background-color: @theme-nero-hover;
          &::after {
            border-left: 20px solid @theme-nero-hover;
          }
        }

        &::after {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          /* Go big on the size, and let overflow hide */
          border-bottom: 20px solid transparent;
          border-left: 20px solid @theme-nero;
          position: absolute;
          top: 50%;
          margin-top: -20px;
          left: 100%;
          z-index: 2;
        }

        &::before {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid white;
          position: absolute;
          top: 50%;
          margin-top: -20px;
          margin-left: 4px;
          left: 100%;
          z-index: 1;
        }
      }
    }
  }
}

#client-create-form {
  width: 100%;
  margin: 20px;
  overflow: hidden;

  &.ng-enter,
  &.ng-leave {
    position: relative;
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
  }

  &.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease;
    -moz-animation: slideInRight 0.5s both ease;
    animation: slideInRight 0.5s both ease;
  }

  &.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease;
    -moz-animation: slideOutLeft 0.5s both ease;
    animation: slideOutLeft 0.5s both ease;
  }
}
/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
  to {
    transform: translateX(-200%);
  }
}
@-moz-keyframes slideOutLeft {
  to {
    -moz-transform: translateX(-200%);
  }
}
@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-200%);
  }
}
/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(0);
  }
}
@-moz-keyframes slideInRight {
  from {
    -moz-transform: translateX(200%);
  }

  to {
    -moz-transform: translateX(0);
  }
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(200%);
  }

  to {
    -webkit-transform: translateX(0);
  }
}
