item-card {
  overflow: hidden;
  display: block;
  width: auto;
  margin: 10px 0;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: inset 0 0 5px @theme-nero;

  .card-header {
    cursor: pointer;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border-bottom: 1px solid;
    border-radius: 5px 5px 0 0;
    background-color: @theme-nero;
    color: @font-tussock;
    overflow: hidden;

    p {
      display: inline-block;
      padding: 10px;
      float: left;
      font-size: 130%;

      &:first-child {
        font-weight: bold;
      }
    }

    span {
      padding: 10px;
      float: right;
      font-weight: bold;
      font-size: 130%;
    }

    &:hover {
      background-color: @theme-nero-hover;
      color: @font-white;
    }
  }

  .main-content {
    height: 380px;
    &.ng-hide {
      .animation(collapseItem 1s);
    }

    &.ng-hide-remove {
      .animation(expandItem 2s);
    }
  }

  .items-content {
    height: 320px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;

    .items {
      display: flex;
      flex-wrap: wrap;

      li {
        cursor: pointer;
        padding: 10px;
        width: 150px;
        display: inline-block;
        margin: 5px 10px 5px 5px;
        border-radius: 5px;
        box-shadow: inset 0 0 5px @theme-nero;
        transition: 0.2s;

        &:hover {
          background-color: @theme-nero-hover;
          color: @font-white;
        }

        &.selected {
          background-color: @theme-nero;
          color: @font-tussock;
        }

        h2 {
          font-size: 18px;
          font-weight: bold;
        }

        h3 {
          font-size: 14px;
          font-style: italic;
        }
      }
    }
  }

  .card-footer {
    height: 40px;
    margin-top: 15px;
    border-top: 2px outset;
    margin: 0 5px;
    border-radius: 1px;

    .footer {
      margin: 10px;
    }
  }
}
.keyframes(collapseItem; { from { height: 380px; } to { display: none; height: 0px; } });
.keyframes(expandItem; { from { height: 0px; } to { display: none; height: 380px; } });
