html {
  background-color: @bg-straw;
}

.main {
  position: absolute;
  overflow-x: hidden;
  min-height: 100%;
  min-width: 100%;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: @sidebar-width;
  transition: all 0.5s ease;
  &.toggle {
    padding-left: @sidebar-width-toggle;
  }

  &.ng-enter {
    opacity: 0;
    left: 100%;
    right: -100%;
  }

  &.ng-enter-active {
    opacity: 1;
    left: 0;
    right: 0;
  }

  &.ng-leave {
    opacity: 1;
    left: 0;
    right: 0;
  }

  &.ng-leave-active {
    opacity: 0;
    left: -100%;
    right: 100%;
  }
}

.main-wrapper {
  position: relative;
  overflow-x: hidden;
  background-color: @bg-straw;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.basic-wrapper {
  position: relative;
  overflow: hidden;
  background-color: @bg-white;
  border: 1px solid;
  border-radius: 5px 5px 20px 20px;
  box-shadow: 5px 5px 10px black;
  margin: 10px auto auto;
  padding: 0;
  min-height: 500px;
  &.sm {
    width: 50%;
  }
  &.md {
    width: 70%;
  }
  &.lg {
    width: 90%;
  }
  fieldset {
    margin: 15px;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  overflow: hidden;
  background-color: @bg-white;
  border: 1px solid;
  border-radius: 5px 5px 20px 20px;
  box-shadow: 5px 5px 10px black;
  margin: 10px auto auto;
  padding: 0;

  &.sm {
    width: 50%;
  }
  &.md {
    width: 70%;
  }
  &.lg {
    width: 90%;
  }

  .tab-animate {

    &.ng-enter, &.ng-leave {
      transition:all 0.5s ease;
    }
    &.ng-enter {
      opacity: 0;
      transition-delay: 0.5s;
    }
    &.ng-enter-active {
      opacity: 1;
    }
    &.ng-leave {
      top: 0;
      opacity: 1;
    }
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.section-header {
  background-color: @theme-nero;
  padding-left: 30px;
  word-wrap: break-word;

  h1 {
    font-weight: bold;
    font-size: 130%;
    color: @font-tussock;
    padding: 10px;
  }
}

.nav-step {
  margin: auto auto 15px;
  background-color: @theme-nero;
  border-radius: 10px 10px 5px 5px;
  box-shadow: 5px 5px 10px black;
  display: table;
  table-layout: fixed;

	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

  &.sm {
    width: 50%;
  }

  &.md {
    width: 70%;
  }

  &.lg {
    width: 90%;
  }

  li {
    display: table-cell;
    text-align: center;

    li {
      display: inline !important;
      text-align: left;
    }

    a {
      font-size: 130%;
      text-decoration: none;
      display: block;
      width: auto;
      padding: 10px;
      background-color: @theme-nero;
      color: @font-tussock;

      &.first {
        border-radius: 8px 0 0 4px;
      }

      &.last {
        border-radius: 0 8px 4px 0;
      }

      &:hover:not(.active) {
        background-color: @theme-nero;
        color: @font-white;
      }

      &.active {
        background-color: @theme-nero-hover;
        color: @font-white;
      }
    }
  }
}

.help-block {
  word-wrap: break-word;
}

.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.stylish-input-group {
  margin-bottom: 10px;
  margin-top: 10px;
}

.keyframes(@name; @arguments) {
  @-moz-keyframes @name {
     @arguments();
  }
  @-webkit-keyframes @name {
     @arguments();
  }
  @keyframes @name {
     @arguments();
  }
}

.animation(@arguments) {
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  animation: @arguments;
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

hr {
 float: left;
 width: 100%;
 border: 0;
 height: 1px;
 background: #333;
 background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
