.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}

.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

fieldset {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0.80em 0.75em 0.625em;
  border: 1px solid black;
}

fieldset legend {
  font-size: 25px;
  margin-bottom: 0;
  margin-left: 16px;
}

.label-time {
  padding-top: 40px;
}

label {
  padding-bottom: 8px;
}

.button_send {
  margin-left: 30em;
  margin-bottom: 1em;
}

.toolbar-listOrder {
  display: inline-block;
  background: #201300;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  label {
    color: @font-tussock;
  }
}

.section-deliveryDate {
  padding: 10px;
  font-size: 130%;
  label {
    color: @font-black;
    padding-top: 7px;
  }
}

.orderList {
  td {
    cursor: pointer;
    &:first-child {
      cursor: default;
    }
    input[type="checkbox"] {
      cursor: pointer;
    }
  }
}

.order-details {
  .group {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .date-label {
    display: inline-block;
    width: 25%;
  }
  .date-text {
    display: inline-block;
    width: 73%;
    input {
      height: 25px;
    }
  }
  .suggestTime-label {
    display: inline-block;
    width: 45%;
  }
  .suggestTime-text {
    display: inline-block;
    width: 53%;
    input {
      height: 25px;
    }
  }
  .employee-label {
    display: inline-block;
    width: 45%;
  }
  .employee-text {
    display: inline-block;
    width: 53%;
    input {
      height: 25px;
    }
  }
  .phonenumber-label {
    display: inline-block;
    width: 25%;
  }
  .phonenumber-text {
    display: inline-block;
    width: 33%;
    input {
      height: 25px;
    }
  }
  .label-item {
    display: inline-block;
    width: 25%;
  }
  .text-item {
    display: inline-block;
    width: 23%;
    input {
      height: 25px;
    }
  }
  .label-reference {
    display: inline-block;
    width: 25%;
  }
  .text-reference {
    display: inline-block;
    width: 73%;
    input {
      height: 25px;
    }
  }

  .label-comment {
    display: block;
    width: 99%;
  }
  .textarea-comment {
    display: block;
    width: 98%;
    resize: none;
    height: 100px;
  }
}

.date-order {
    position: relative;
    h1 {
      color: white;
      cursor:pointer;
    }
  .section-deliveryDate {
    z-index: 40;
    input {
      display: none;
    }
    position: absolute;
    top: 0;

  }
}

.checkbox-filter {
  width: 100%;
  background-color: @theme-nero;
  color: @font-tussock;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
