product-card {
  width: 175px;
  margin: 10px;
  border: 1px solid;
  border-radius: 5px;

  &:hover {
    .product-header {
      background-color: @theme-nero-hover;

      h4 {
        color: @font-white;
      }
    }
  }

  .product-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .product-header {
    width: auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    background-color: @theme-nero;

    h4 {
      font-size: 20px;
      color: @font-tussock;
    }

    h5 {
      font-size: 14px;
      color: @font-tussock;
    }
  }

  .product-items {
    flex-grow: 1;
    padding: 5px;
    table {
      margin-bottom: 0px;
      tr {
        td {
          font-size: 85%;
        }
        &:first-child {
          td {
            border-top: 0px;
          }
        }
      }
    }
  }

  .amount-order {
    padding: 5px 10px;
  }
}
