product-card {
  display: inline-block;
  width: 175px;
  max-width: 175px;
  margin: 10px;
  border: 1px solid;
  border-radius: 5px;
  line-height: 0;
  vertical-align: top;

  &:hover {
    .product-wrapper {
      &.list,
      &.select {
        cursor: pointer;
      }

      .product-header {
        background-color: @theme-nero-hover;

        h4 {
          color: @font-white;
        }
      }
    }
  }

  .product-wrapper {
    .product-header {
      line-height: 12px;
      display: inline-table;
      width: 100%;
      text-align: center;
      padding: 5px;
      border-radius: 5px 5px 0 0;
      height: 50px;
      overflow: auto;
      vertical-align: middle;

      h4 {
        display: table-cell;
        vertical-align: middle;
        font-size: 80%;
        color: @font-white;
      }

      span {
        display: table-cell;
        width: 20px;
        height: 20px;
        i {
          color: white;
          cursor: pointer;
        }
      }
    }

    .product-items {
      max-width: 175px;

      table {
        margin-bottom: 0;

        tr {
          td {
            font-size: 85%;
          }

          &:first-child {
            td {
              border-top: 0;
            }
          }
        }
      }
    }

    .amount-order {
      padding: 5px;
      border-top: 1px outset;
      line-height: 12px;

      form {
        .form-group {
          display: inline-block;
          vertical-align: top;
          margin: 0;
          padding: 0;
        }

        input[type="number"] {
          width: 87px;
          height: 30px;
        }

        input[type="radio"] {
          width: 35px;
          height: 30px;
          display: inline-block;
          visibility: hidden;
          position: absolute;

          & + span {
            border-radius: 4px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: 33px;
            height: 30px;
            background-color: @btn-sienna;
            color: @font-white;

            &:hover {
              cursor: pointer;
              background-color: @btn-sunset-orange;
            }
          }
        }

        label {
          padding: 0;
        }

        input[type="radio"]:checked {
          & + span {
            box-shadow: inset 0 0 0 black;
            background-color: #9c1c07;
          }
        }

        input[type="submit"] {
          width: 165px;
        }
      }
    }
  }
}
