.sidebar {
  z-index: 1000;
  display: block;
  position: fixed;

  width: @sidebar-width;
  height: 100%;

  background-color: @theme-nero;
  box-shadow: 5px 0 10px @theme-jambalaya;

  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.5s;

  a {
    display: block;
    color: @font-tussock;
    &:hover {
      color: @font-white;
    }
  }

  .title-header {
    display: block;
    overflow: hidden;
    margin-top: 10px;
    .logo {
      width: auto;
      float: left;
      a {
        font-size: 15px;
        text-decoration: none;
        &:hover {
          color: @font-white;
        }
      }
    }
    .hamburger {
      float: right;
      margin-right: 10px;
      a {
        font-size: 15px;
        padding: 15px 10px 30px 15px;
        text-decoration: none;
        &:hover {
          color: @font-white;
        }
      }
    }
  }

  .login-wrapper {
    width: 100%;
    height: 200px;
    overflow: auto;
    a {
      padding: 15px 10px 30px 15px;
      i {
        padding: 0;
      }
    }
  }

  .navigation {
    font-size: 15px;
    .item {
      display: block;
      &:hover {
        padding-left: 20px;
      }
    }
  }

  &.toggle {
    width: @sidebar-width-toggle;
    .title-header {
      .logo {
        display: none;
      }
      .hamburger {
        clear: both;
        display: block;
        width: auto;
        a {
          display: block;
          padding: 15px 10px 30px 15px;
          border-bottom: 1px solid @theme-nero-hover;
        }
      }
    }

    .login-wrapper {
      height: auto;
      i {
        font-size: 15px;
      }
      a {
        border-bottom: 1px solid @theme-nero-hover;
      }
      form {
        display: none;
      }
    }

    .navigation {
      display: block;
      font-size: 15px;
      width: 100%;

      .item {
        display: block;
        &:hover {
          padding-left: 0;
          font-size: 15px;
          cursor: pointer;
          a {
            color: @font-white;
          }
        }
        a {
          display: block;
          text-align: center;
          padding: 15px 10px 30px 15px;
          transition: all 0.3s ease;
          color: @font-tussock;
          font-size: 15px;
          border-bottom: 1px solid @theme-nero-hover;
          &:hover {
            color: @font-white;
          }
          i {
            padding: 0;
          }
          span {
            display: none;
          }
        }
      }
    }
  }
}
