.sidebar {
  z-index: 1000;
  display: inline-block;
  position: fixed;
  width: 20%;
  height: 100%;
  background-color: @theme-nero;
  color: @font-tussock;
  box-shadow: 5px 0 10px @theme-jambalaya;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.5s;

  &.toggle {
    width: 10%;
  }

  .title-header {
    display: block;
    .logo {
      float: left;
    }
    .hamburger {
      float: right;
    }
    a {
      display: block;
      text-decoration: none;
      text-align: center;
      color: @font-tussock;
      font-size: 20px;
    }
    li {
      list-style: none;
      display: table-cell;
    }
  }

  .login-wrapper {
    width: 100%;
    height: 200px;
    overflow: auto;
  }

  .navigation {
    width: 100%;
    a {
      display: block;
      text-decoration: none;
      color: @font-tussock;
      &:hover {
        background-color: @theme-nero-hover;
        color: @font-white;
      }
    }
    .item {

    }
    .subitem {
    }
  }
}
