<div ng-show="showHidden">
  <div class="item-header" style="display: flex">
    <div class="element-options">
        <button class="btn btn-sienna fa fa-remove btn-remove-elements" type="button" id="removeOption" 
          ng-click="confirmDeleteElement()" >
        </button>
      </div>
    <div class="card-header" ng-click="toggleCollapse()">
      <p>{{item.name | capitalize}}:</p>
      <p>{{currentItem.value || 'Seleccione un valor'}}</p>
      <span>#{{item.items.length}}</span>
    </div>
  </div>
  <div class="main-content" ng-hide="isCollapsed">
    <div class="items-content">
      <ul class="items">
        <li ng-mouseenter="remove=true" ng-mouseleave="remove=false" ng-repeat="jsonValue in item.items | orderBy:'value'" 
        ng-class="{selected: jsonValue.isSelected}" style="display: inline-block; position: relative;" ng-click="selectItem(jsonValue)">
          <i ng-show="remove" ng-click="confirmDeleteItem($event, jsonValue, $index, item.items | orderBy:'value')" class="fa fa-remove icon-remove-item"></i>
          <h2>{{jsonValue.value}}</h2>
          <h3>{{jsonValue.shortValue}}</h3>
        </li>
      </ul>
    </div>

    <div class="card-footer">
      <div class="footer">
        <form class="form-inline" ng-submit="createItem()">
          <button type="submit" name="button" class="btn btn-sienna">
        <h1 style="display:inline-block">Añadir</h1>
        <span class="fa fa-plus" aria-hidden="true"></span>
      </button>
          <label for="" class="sr-only">Valor:</label>
          <input type="text" name="" placeholder="Valor" ng-model="itemValue" class="form-control">
          <label for="" class="sr-only">Abreviación:</label>
          <input type="text" name="" placeholder="Abreviación" ng-model="itemShortValue" class="form-control">
        </form>
      </div>
    </div>
  </div>
</div>
