<div class="product-wrapper" ng-class="class">
  <div class="product-header" ng-style='getTitleColor(dirProduct)' ng-click="toggleCollapse()"
  uib-popover-template="tooltip.templateUrl"  popover-placement="auto bottom-center" popover-trigger="'mouseenter'" popover-popup-delay="750">
    <h4>{{name}}</h4>
  </div>

  <div class="amount-order" ng-if="type == 'orderProduct'">
    <form class="form-inline" ng-submit="addProductToList()">
      <div class="form-group">
        <input type="number" ng-model="currentSettings.amount" min="0" class="form-control" placeholder="Cantidad">
      </div>
      <div class="form-group" tooltips tooltip-template="Horneado">
        <label>
          <input type="radio" ng-model="currentSettings.state" value="baked"><span class="glyphicon glyphicon glyphicon-fire"></span>
        </label>
      </div>
      <div class="form-group" tooltips tooltip-template="Congelado">
        <label>
          <input type="radio" ng-model="currentSettings.state" value="frozen"><span class="glyphicon glyphicon-ice-lolly"></span>
        </label>
      </div>

      <div class="form-group" style="margin-top:2px">
        <input type="submit" class="btn btn-sienna btn-sm" value="Agregar">
      </div>
    </form>
  </div>
</div>
